*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav{
    /* border: 3px solid tomato; */
}

.nav{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    padding: 35px 0px;
    max-width: 1300px;
    margin: 0px auto;
    padding: 30px;
}

.nav .nav-logo{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav .nav-logo img{
    height: 45px;
}

.nav .nav-logo span{
    color: #FF42A5;
}

.nav-items{
    display: flex;
    /* border: 3px solid blue; */
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.nav-items a{
    text-decoration: none;
    color: black;
}

.fa-youtube{
    color: red;
}

.nav-items button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 22px;
    border-radius: 10px;
    border: 0px;
    background: rgba(11, 2, 35, 0.10);
}

/* section-1 */

.section-1{
    
}

.contaner-1{
    /* border: 3px solid green; */
    min-height: 400px;
    max-width: 1300px;
    margin: 0px auto;
    padding: 30px;
    display: flex;
    background-color: rgba(255, 66, 165, 0.03);

}

.banar-text{
    /* border: 3px solid blue; */
    width: 50%;
}

.banar-text h2{
    font-size: 2rem;
}

.banar-text > h1{
    font-size: 3rem;
    color: #F948B2;
}

.banar-text button{
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    border: 0px;
}

.banar-text .sign-btn{
    background-color: #FF42A5;
}

.banar-text .go-btn{
    background-color: #4EC5F7;;
}

.banar-img{
    /* border: 3px solid red; */
    width: 50%;

}

.banar-img img{
    width: 100%;
}


/* container-2 */

.container-2{
    /* border: 3px solid green; */
    min-height: 400px;
    max-width: 1300px;
    margin: 0px auto;
    padding: 30px;
    display: flex;
    background-color: rgba(255, 66, 165, 0.03);
}

.container-2 .text{
    /* border: 3px solid tomato; */
    width: 40%;
}

.container-2 .text h1{
    color: #FF42A5;
    font-size: 2.5rem;
}

.container-2 .text button{
    color: white;
    background-color: #FF42A5;
    padding: 10px 30px;
    border: 0px;
    border-radius: 30px;
}

.container-2 .img{
    /* border: 3px solid rgb(71, 160, 255); */
    width: 60%;
}

.container-2 .img > img{
    width: 100%;
}





/* container-3 */

.container-3{
    /* border: 3px solid green; */
    min-height: 400px;
    max-width: 1300px;
    margin: 0px auto;
    padding: 30px;
    justify-content: center;

}



.container-3 .item{
    /* background-color: antiquewhite; */
    min-width: 202px;
    min-height: 200px;
    margin: 20px;
}

.container-3 .item > img{
    width: 100%;
}


.container-3 .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


/* container-4 */

.container-4{
    /* border: 3px solid rgb(192, 58, 0); */
    min-height: 400px;
    max-width: 1300px;
    margin: 0px auto;
    padding: 30px;
    justify-content: center;
    display: flex;
}

.container-4 > .text{
    /* border: 3px solid #17f880; */
    background-color: antiquewhite;
    width: 40%;
    text-align: right;
}

.container-4 > .text span{
    color: #F948B2;
}

.container-4 > .img{
    min-height: 100px;
    /* border: 3px solid #17f880; */
    background-color: antiquewhite;
    width: 60%;
    background-image: url("images/Rectangle\ 55.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    position: relative;

}

.container-4 > .img > .top-img{
    /* border: 4px solid tomato; */
    height: auto;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 230px;
}

.container-4 > .img > .top-img > img{
    width: 100%;
}


.container-5{
    background-color: #FF42A5;
    /* border: 3px solid rgb(192, 58, 0); */
    min-height: 400px;
    max-width: 1300px;
    margin: 0px auto;
    margin-top: 40px;
    padding: 30px;
    justify-content: center;
    display: flex;
}

.container-5 .text{
    color: white;
    /* border: 3px solid rgb(192, 58, 0); */
    width: 50%; 
}

.container-5 .text button{
        color: #FF42A5;
        background-color: white;
        padding: 10px 30px;
        border: 0px;
        border-radius: 25px;
}

.container-5 .text .space{
    display: flex; 
    justify-content: space-between; 
}


.container-5 .img{
    /* border: 3px solid rgb(192, 58, 0); */
    width: 50%;
}

.container-5 .img img{

    width: 100%;
}


/* container-6 */


.container-6 .wape{
    /* background-color: #FF42A5; */
    /* border: 3px solid rgb(192, 58, 0); */
    min-height: 400px;
    max-width: 1300px;
    margin: 0px auto;
    margin-top: 40px;
    padding: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    align-content: center;

}


.container-6 .item{
    border: 2px solid white;
    display: flex;
    max-height: 50px;
    padding: 12px;
    border-radius: 50px;
    gap: 10px;
    
}


.container-6 .item:hover{
    border: 2px solid #FF42A5;
    color: #F948B2;
}



.container-6 .item img{
    /* object-fit: scale-down; */
    object-fit: contain;
}


.container-6 .item > p{
    font-weight: 900;
}


/* footer */


footer{
    /* background-color: #FF42A5; */
    /* border: 3px solid rgb(192, 58, 0); */
    min-height: 400px;
    /* max-width: 1300px; */
    background-color: black;
    color: white;
    margin: 0px auto;
    margin-top: 40px;
    padding: 30px;
    align-content: center;
    justify-content: center;
    /* display: flex; */

}


footer .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer .logo span{
    color: #F948B2;
}


footer .links-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


footer .social-links{
    display: flex;
    justify-content: center;
    gap: 10px;
}


footer .links-2{
    display: flex;
    justify-content: center;
    gap: 10px;
}


footer .copy{
    display: flex;
    justify-content: center;
    gap: 10px;
}






/* for small devices */

@media screen and (max-width: 576px) {
    .nav{
        flex-direction: column;
    }

    .nav .nav-logo{
        justify-content: center;
    }

    .nav-items{
        flex-direction: column;
        margin: 10px;
    }

    .contaner-1{
        flex-direction: column-reverse;
    }

    .banar-img{
        border: 3px solid red;
        width: 100%;  
    }

    .banar-text{
        border: 3px solid blue;
        width: 100%;
    }

    .container-2{
        flex-direction: column;
    }

    .container-2 .text{
        width: 100%;
    }

    .container-2 .img{
        width: 100%;
    }

    .container-3 .grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .container-4{
        flex-direction: column;
    }

    .container-4 .text{
        width: 100%;
    }

    .container-4 .img{
        width: 100%;
        height: 300px;
    }

    .container-4 > .img > .top-img{
        top: 150px;
        left: 0px;
    }
    
    .container-5{
        flex-direction: column;
    }

    .container-5 .text{
        width: 100%;
    }

    .container-5 .img{
        width: 100%;
    }
}
